h1{
	color: blue; background-color: silver;
}

p{border: 5px dotted green;

}

p{color: white}

h2{
	color: white; 
}

h3{
    color: white;
}

h4{
    color: white; 
}

h5{
	color: white; 
}

h6{
	color: white; 
}

